html, body {
  margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

:root {
	--fontmain: 'Inconsolata', monospace;

	

	--bgmain0: #000;
	--fgmain0: #fff;
	
	--bgmain5: #ff0080;
	--fgmain5: #fff;

	--bgmain10: #fff;
	--fgmain10: #000;
}

body {
	background-color: var(--bgmain5);
	color: var(--fgmain5);
	font-family: var(--fontmain)
}

.glassHeader {
	background-color: var(--bgmain10);
	color: var(--fgmain10);
	width: 100%;
	aspect-ratio: 3/1;
}